<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>BirdTouch Please login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="scripts/BirdTouchHomeScript.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-sm-12"><div class="col-right-hello">  <h1 id="helloUserNameDiv">Hello, </h1> </div></div>
    </div>
    <div class="row borderUpAndDown">
        <div class="col-sm-12"><div class="col-centered"> <h3>Welcome to</h3> <h1>BirdTouch</h1> </div></div>
    </div>
    <div class="row borderUpAndDown">
        <div class="col-sm-4">
            <div class="col-right">
                <a href="private.html">
                <h2>Private</h2> 
                </a>

                <a href="#" id="showPrivateContacts" title="Click to show contacts" data-toggle="collapse" data-target="#privateTable" style="margin-left:30px;"><img border="0" alt="Show Celebrtity Contacts" src="img/details_down_arrow.png" width="50" height="50" id="showPrivateContactsArrow"></a>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="col-centered">
                <a href="#">
                    <h2>Business</h2>
                </a>
                <a href="#" id="showBusinessContacts" title="Click to show contacts" data-toggle="collapse" data-target="#businessTable"><img border="0" alt="Show Celebrtity Contacts" src="img/details_down_arrow.png" width="50" height="50" id="showBusinessContactsArrow"></a>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="col-left">
                <a href="#">
                    <h2>Celebrity</h2>
                </a>

</div>
            <a href="#" id="showCelebrityContacts" title="Click to show contacts"><img border="0" alt="Show Celebrtity Contacts" src="img/details_down_arrow.png" width="50" height="50"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div id="privateTable" class="accordion-body collapse">
                <table align="right" class="private_contacts_table">

                    <tr>
                        <td></td>
                        <td><img src="img/blank_navigation.jpg" class="img-circle" alt="Cinque Terre" width="100" height="100"> </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td><img src="img/blank_navigation.jpg" class="img-circle" alt="Cinque Terre" width="100" height="100"> </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><img src="img/contacts_previous.png" class="img-circle" alt="Cinque Terre" width="50" height="50"></td>
                        <td><img src="img/blank_navigation.jpg" class="img-circle" alt="Cinque Terre" width="100" height="100"> </td>
                        <td><img src="img/contacts_next.png" class="img-circle" alt="Cinque Terre" width="50" height="50"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><img src="img/blank_navigation.jpg" class="img-circle" alt="Cinque Terre" width="100" height="100"> </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><img src="img/blank_navigation.jpg" class="img-circle" alt="Cinque Terre" width="100" height="100"> </td>
                        <td></td>
                    </tr>

                </table>
            </div>
        </div>

        <div class="col-sm-4">
            
                <div id="businessTable" class="accordion-body collapse">
                    <table align="center" class="business_contacts_table">

                        <tr>
                            <td></td>
                            <td><img src="img/blank_navigation.jpg" class="img-circle" alt="Cinque Terre" width="100" height="100"> </td>
                            <td></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td><img src="img/blank_navigation.jpg" class="img-circle" alt="Cinque Terre" width="100" height="100"> </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><img src="img/contacts_previous.png" class="img-circle" alt="Cinque Terre" width="50" height="50"></td>
                            <td><img src="img/blank_navigation.jpg" class="img-circle" alt="Cinque Terre" width="100" height="100"> </td>
                            <td><img src="img/contacts_next.png" class="img-circle" alt="Cinque Terre" width="50" height="50"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><img src="img/blank_navigation.jpg" class="img-circle" alt="Cinque Terre" width="100" height="100"> </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><img src="img/blank_navigation.jpg" class="img-circle" alt="Cinque Terre" width="100" height="100"> </td>
                            <td></td>
                        </tr>

                    </table>
                </div>

            
            </div>
        <div class="col-sm-4"><div class="col-left"></div></div>
    </div>


</body>
</html>
